@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --h1-font-family: "Epilogue-ExtraBold", Helvetica;
    --h1-font-size: 72px;
    --h1-font-style: normal;
    --h1-font-weight: 800;
    --h1-letter-spacing: -2px;
    --h1-line-height: 80px;
    --h2-font-family: "Epilogue-ExtraBold", Helvetica;
    --h2-font-size: 56px;
    --h2-font-style: normal;
    --h2-font-weight: 800;
    --h2-letter-spacing: -1px;
    --h2-line-height: 64px;
    --h3-font-family: "Epilogue-ExtraBold", Helvetica;
    --h3-font-size: 40px;
    --h3-font-style: normal;
    --h3-font-weight: 800;
    --h3-letter-spacing: 0px;
    --h3-line-height: 48px;
    --h4-font-family: "Epilogue-Bold", Helvetica;
    --h4-font-size: 24px;
    --h4-font-style: normal;
    --h4-font-weight: 700;
    --h4-letter-spacing: 0px;
    --h4-line-height: 32px;
    --h5-font-family: "Epilogue-Regular", Helvetica;
    --h5-font-size: 16px;
    --h5-font-style: normal;
    --h5-font-weight: 400;
    --h5-letter-spacing: 3px;
    --h5-line-height: 32px;
    --label-font-family: "Epilogue-Bold", Helvetica;
    --label-font-size: 12px;
    --label-font-style: normal;
    --label-font-weight: 700;
    --label-letter-spacing: 0px;
    --label-line-height: normal;
    --text-big-font-family: "Epilogue-Regular", Helvetica;
    --text-big-font-size: 20px;
    --text-big-font-style: normal;
    --text-big-font-weight: 400;
    --text-big-letter-spacing: 0px;
    --text-big-line-height: 32px;
    --text-font-family: "Epilogue-Regular", Helvetica;
    --text-font-size: 16px;
    --text-font-style: normal;
    --text-font-weight: 400;
    --text-letter-spacing: 0px;
    --text-line-height: 32px;
    --text-small-font-family: "Epilogue-Regular", Helvetica;
    --text-small-font-size: 14px;
    --text-small-font-style: normal;
    --text-small-font-weight: 400;
    --text-small-letter-spacing: 0px;
    --text-small-line-height: 24px;
    --textdark: rgba(57, 20, 0, 1);
    --textdarkaccent: rgba(239, 109, 88, 1);
    --textdarkgray: rgba(57, 20, 0, 0.64);
    --textlight: rgba(255, 255, 255, 1);
    --textlightaccent: rgba(239, 109, 88, 1);
    --textlightgray: rgba(255, 255, 255, 0.64);
  }